.fa-circle-check{
    margin-top: .5rem;
    color: green;
}
.modal-check{
    background-color: white;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 0 auto;
    position: absolute;
    top: 10rem;
    left: 6rem;
}
.close-modal{
    background: none;
    border: none;
}